<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PD's Turf</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/public/img/favicon1.png" type="image/x-icon">

    <!-- Bootstrap css links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Custom css link -->
    <link rel="stylesheet" href="">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
            background-size: cover;
            background-repeat: no-repeat;

        }

        /* Section1 */
        .container-fluid .nav-item {
            font-size: 18px;
            font-weight: 500;
        }

        .container-fluid .nav-item1 {
            font-size: 18px;
            font-weight: 600;
        }

        .container-fluid .nav-link {
            color: rgb(238, 238, 238);
        }

        .container-fluid {
            background-color: rgba(0, 122, 16, 0.671);
        }

        ::-webkit-scrollbar {
            display: none;
        }

        #formLogin {
            margin: auto;
            width: 45%;
        }
    </style>

</head>

<body>

    <!-- Navbar -->
    <section id="navbar">
        <div class="container-fluid">
            <header class="d-flex justify-content-end py-3 px-5 w-100">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="/homePageReload" class="nav-link">Home</a></li>
                    &nbsp;
                    &nbsp;
                    <li class="nav-item"><a href="/bookPageReload" class="nav-link">Book</a></li>
                    &nbsp;
                    &nbsp;
                    <li class="nav-item"><a href="/contactUsPageReload" class="nav-link">Contact us</a></li>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <li class="nav-item1"><a href="" class="nav-link bg-success active">Login</a></li>
                </ul>
            </header>
        </div>
    </section>

    <br>
    <br>

    <section>
        <main class="form form-signin w-50 m-auto">
            <form id="formLogin" action="/login" method="post">
                <h1 class="h2 fw-bold mb-3 fw-normal text-center"><i class="fa-solid fa-skull-crossbones fa-lg"
                        style="color: #ff0000;"></i> &nbsp; Admin Log in &nbsp; <i
                        class="fa-solid fa-skull-crossbones fa-lg" style="color: #ff0000;"></i></h1>
                <br>
                <br>
                <div class="form-floating">
                    <input type="username" name="username" class="form-control border-3 " id="floatingInput"
                        placeholder="username">
                    <label for="floatingInput">username</label>
                </div>

                <div class="form-floating my-2">
                    <input type="password" name="password" class="form-control border-3" id="floatingPassword"
                        placeholder="password">
                    <label for="floatingPassword">password</label>

                </div>
                <br>

                <!-- <div class="form-check d-sm-flex justify-content-end my-3" id="rememberMe">
                    <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                    &nbsp;
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me
                    </label>
                </div> -->
                <br>
                <button class="btn btn-success w-100 py-2" type="submit">Sign in</button>
            </form>
        </main>
    </section>

    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>