<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PD's Turf | The Golden Boot</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/public/img/favicon1.png" type="image/x-icon">

    <!-- Bootstrap css links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Custom css link -->
    <link rel="stylesheet" href="./turf.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
            background-size: cover;
            background-repeat: no-repeat;

        }

        /* Section1 */
        .container-fluid .nav-item {
            font-size: 18px;
            font-weight: 500;
        }

        .container-fluid .nav-item1 {
            font-size: 18px;
            font-weight: 600;
        }

        .container-fluid .nav-link {
            color: rgb(238, 238, 238);
        }

        .container-fluid {
            background-color: rgba(0, 122, 16, 0.671);
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .cards {
            position: relative;
            align-items: center;
            display: flex;
        }

        .card-img-top {
            width: 100%;
            height: 12rem;
        }

        #card1 {
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .confirmBooking {
            column-gap: 40px;
            justify-content: center;
            display: flex;
            margin: auto;
            align-items: center;
        }

        #upiId {
            cursor: pointer;
        }

        #upiIdContainer:hover {
            font-weight: 800;
            color: blue;
            cursor: pointer;
        }

        .paymentWindow {
            /* display: none; */

            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        /* .paymentWindow.show {
    opacity: 1;
    pointer-events: auto;
    display: block;
}*/

        .slotWindow.show {
            opacity: 1;
            pointer-events: auto;
            display: block;
        }

        .slotWindow {
            display: none;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .paymentWindow {
            position: relative;
        }

        .fa-circle-xmark {
            cursor: pointer;
            position: absolute;
            top: 2px;
            right: -13px;
        }

        input[type="radio"] {
            transform: scale(1.5);
        }

        input[type="checkbox"] {
            transform: scale(1.5);
        }

        table {
            justify-content: center;
            align-items: center;
            border-collapse: collapse;
            width: 20rem;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        .maintenance {
            background-color: rgb(179, 179, 179);
        }

        #Details {
            display: flex;
        }

        .timeTable {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 20px;
        }
    </style>

</head>

<body>

    <!-- Navbar -->
    <section id="navbar">
        <div class="container-fluid">
            <header class="d-flex justify-content-end py-3 px-5 w-100">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="/homePageReload" class="nav-link">Home</a></li>
                    &nbsp;
                    &nbsp;
                    <li class="nav-item"><a href="/bookPageReload" class="nav-link">Book</a></li>
                    &nbsp;
                    &nbsp;
                    <li class="nav-item"><a href="/contactUsPageReload" class="nav-link">Contact us</a></li>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <li class="nav-item1"><a href="/loginPageReload" class="nav-link bg-success active">Login</a>
                    </li>
                </ul>
            </header>
        </div>
    </section>

    <br>
    <br>

    <section class="confirmBooking">
        <div class="cards" id="card1">

            <!-- Turf 1 -->
            <div class="card mx-5" style="width: 25rem; height: 32rem;">
                <img src="/public/img/turf3.jpg" class="card-img-top" alt="The Golden Boot">
                <div class="card-body">
                    <h4 class="card-title my-4 fa-2xl text-center">The Golden Boot</h4>
                    <br>
                    <p><i class="fa-sharp fa-solid fa-location-dot fa-xl" style="color: #000000;"></i>&nbsp;&nbsp;Kondhwa,
                        Pune </p>
                    <p class="card-text"><i class="fa-solid fa-tags" style="color: #000000;"></i>&nbsp;&nbsp;₹999</p>
                    <p><i class="fa-solid fa-clock" style="color: #000000;"></i>&nbsp;&nbsp;6:00 am - 7:00 pm</p>
                    <p><i class="fa-solid fa-star fa-sm" style="color: #ffd43b;"></i>&nbsp;&nbsp;4.8 </p>
                    <button type="button" class="btn btn-success" onclick="showSlotWindow()">Check
                        Availability</button>

                    <!-- hidePaymentWindow() -->
                </div>
            </div>

        </div>


        <br>


    </section>
    <br>
    <br>

    <!-- Script -->
    <script>

        function validateAlphabeticInput(input) {
            input.value = input.value.replace(/[A-Za-z]/g, '');
        }

        function validateForm() {
            var radioButtons = document.getElementsByName('Sahyadri_Turf');
            var isChecked = false;
            for (var i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].checked) {
                    isChecked = true;
                    break;
                }
            }
            if (!isChecked) {
                alert('Please select a time slot.');
                return false;
            }
            return true;
        }


        function copyUPI() {
            var upiIdText = document.getElementById("upiId").innerText;

            var tempInput = document.createElement("textarea");
            var copyIcon = document.querySelector(".copy-btn");

            tempInput.value = upiIdText;
            document.body.appendChild(tempInput);

            tempInput.select();
            tempInput.setSelectionRange(0, 99999);

            document.execCommand("copy");
            document.body.removeChild(tempInput);

            alert("Copied to clipboard");
        }

        // function showPaymentWindow() {
        //     if (validateForm()) {
        //         document.querySelector('.btn-success').addEventListener('click', showPaymentWindow);
        //         var paymentWindow = document.querySelector('.paymentWindow');
        //         paymentWindow.classList.add('show');
        //     }
        // }

        function showSlotWindow() {
            // document.querySelector('.btn-success').addEventListener('click', showSlotWindow);
            //var slotWindow = document.querySelector('.slotWindow');
            //slotWindow.classList.add('show');

            var width = 500;
            var height = 1000;
            var left = (window.innerWidth - width) / 2;
            var top = (window.innerHeight - height) / 2;

            // Open a new window with the specified dimensions and position
            var newWindow = window.open('/finalBooking', '', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);

        }

        function hideSlotWindow() {
            var userConfirmed = confirm("Cancel the booking?");

            if (userConfirmed) {
                var slotWindow = document.querySelector('.slotWindow');
                slotWindow.classList.remove('show');
            }
        }

        // function hidePaymentWindow() {
        //     var userConfirmed = confirm("Cancel the payment?");

        //     if (userConfirmed) {
        //         var paymentWindow = document.querySelector('.paymentWindow');
        //         paymentWindow.classList.remove('show');
        //     }
        // }


    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
</body>

</html>